* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header {
    display: flex;
    justify-content:space-between;
}

.header-left {
    text-align: left;
}

.header-right {
    text-align: right;
}

footer {
    text-align: center;
    color: darkgray;
    font-size: small;
}